.question{
     background-color: white ; 
    margin: 5px;
 word-wrap: break-word;
}
.mainbar{
 font-size: fluid;

}
.heading{
    margin-left: 10px;
    margin-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    
}
.lightgrey{
    background-color: rgb(238, 235, 235); 
    border-radius: 8px;
}
.green{
background-color: rgb(168, 231, 219);
border-radius: 8px;
}
.bold{
    text-decoration: underline; 
    font-weight: bold;
 
}
.linebreak{
    display:block;
}

  

