// Styling for the navbar
#mainNav {
  @include heading-font;

  .navigation_brand {
    display: flex;
    float: left;
  }

  .navigation_logo {
    max-width: 65px;
    margin-right: 1rem;
  }
  .navbar-brand, & * {
    color: $white;
  }

  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    li.nav-item {
      a.nav-link {
        color: $white;
        &:hover {
          color: $primary;
        }
        &:active,
        &:focus {
          color: $white;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media(min-width:992px) {
  #mainNav {
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }

    .navbar-nav {
      margin-top: 0;
      margin-left: 3rem;
    }
    .nav-item {
      margin-right: 1.5rem
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: $white;
      background: $primary;
      &:active,
      &:focus,
      &:hover {
        color: $white;
        background: $primary;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    .navbar-brand {
      font-size: 1.5em;
    }
  }

}