.list_post {
    margin-bottom: 2rem;
}

.post_tags {
    margin: 1rem 0 0;
}
.post_tag {
    background-color: $secondary;
    color: white;
    padding: 0.25rem 0.5rem;
    margin-right: 0.25rem;
    &:before {
        content: '#';
    }
}

.post_comments {
    padding: 1rem 0
}

.post_edit, .comment_edit {
    text-align: right;
}

.post_more {
    float: right;
}

.post_info {
    padding-top: 1rem;
    text-align: right;
}

@media (min-width: 576px) {
    .post_info {
        padding-top: 0;
    }
    .post_comments-count {
        font-size: 4rem;
        &, & + .post_comments-answers {
            text-align: center;
            display: block;
        }
    }
}
