// Typography
body {

  @include body-font;

  margin-top: 106px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Star Icon


// Section Padding Settings
section {
 
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

figure{
  text-align: center;  

  img.star-img{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width:40px;
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.component-wrapper {
  padding: 25px 0;
}